.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
src/__pycache__/
output/
.vscode/
.DS_Store
Thumbs.db
jobs_to_apply/
documents/
.opencode/
future_features.md
./data/
./templates/
job_search.md
future_work.md
